@import (reference) "../../styles/fonts";
@import (reference) "../../styles/responsive";

.profiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
  .for-tablet({
    display: block;
    > div {
      width: ~"calc(100% - 30px)";
      margin-bottom: 30px;
    }
  })
}


.empty {
  text-align: center;
  padding: 10%;
  h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}
