/**
  Variables
 */
@base-color: fonts('baseColor');


/**
  Mixins
 */
.fontStyle(@fontWeight: 400, @color: @base-color, @font-size: 1rem, @line-height: 1rem){
  font: @fontWeight@font-size/@line-height fonts('fontFamily');
  color: @color;
}

.paragraph(@color: @base-color) {
  .fontStyle(400, @color, 1.16rem, 1.5rem);
}

.header(@color: @base-color) {
  .fontStyle(900, @color, 3.625rem, 6.25rem);
}

.button(@color: @base-color) {
  .fontStyle(400, @color, 1rem, 1rem);
}

.input(@color: @base-color, @lineHeight: 1rem) {
  .fontStyle(400, @color, 1rem, @lineHeight);
}

.profileName(@color: @base-color) {
  .fontStyle(400, @color, 1.25rem, 1.5625rem);
}

.truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global {
  /* muli-regular - latin_latin-ext */
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'),
    url('../fonts/muli-v12-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/muli-v12-latin_latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* muli-italic - latin_latin-ext */
  @font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: local('Muli Italic'), local('Muli-Italic'),
    url('../fonts/muli-v12-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/muli-v12-latin_latin-ext-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* muli-700 - latin_latin-ext */
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: local('Muli Bold'), local('Muli-Bold'),
    url('../fonts/muli-v12-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/muli-v12-latin_latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* muli-700italic - latin_latin-ext */
  @font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700;
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'),
    url('../fonts/muli-v12-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/muli-v12-latin_latin-ext-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* muli-900 - latin_latin-ext */
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900;
    src: local('Muli Black'), local('Muli-Black'),
    url('../fonts/muli-v12-latin_latin-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/muli-v12-latin_latin-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    font-size: fonts('baseSize');
  }

  body {
    .paragraph();
    background: general('background');
  }
}
