@import "fonts";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body, [id=app], [data-reactroot] {
  height: 100%;
  width: 100%;
}

::selection {
  background: general('text'); /* WebKit/Blink Browsers */
  color: general('background');
}
::-moz-selection {
  background: general('text'); /* Gecko Browsers */
  color: general('background');
}

.clearfix(){
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

