// Media queries breakpoints
@screen-xs: 480px; // Extra small screen / phone
@screen-sm: 768px; // Small screen / tablet
@screen-md: 992px; // Medium screen / desktop
@screen-lg: 1200px; // Large screen / wide desktop

// So media queries don't overlap when required, provide a maximum
@screen-xs-max: (@screen-sm - 1);
@screen-sm-max: (@screen-md - 1);
@screen-md-max: (@screen-lg - 1);

.for-wide-desktop(@rules) {
  @media only screen and (max-width: @screen-lg) {
    @rules();
  }
}

.for-desktop(@rules) {
  @media only screen and (max-width: @screen-md) {
    @rules();
  }
}

.for-tablet(@rules) {
  @media only screen and (max-width: @screen-sm) {
    @rules();
  }
}

.for-phone(@rules) {
  @media only screen and (max-width: @screen-xs) {
    @rules();
  }
}

.for-retina(@rules) {
  @media all and (-webkit-min-device-pixel-ratio : 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5){
    @rules();
  }
}