@import (reference) "../../styles/fonts";

.profile {
  background: #fff;
  padding: 30px 15px 40%;
  margin-bottom: 80px;
  text-align: center;
  position: relative;
  border-radius: 4px;

  h3 {
    .profileName();
  }

  &__avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-bottom: 20px;
    &--editable {
      cursor: pointer;
    }
  }

  &__mouth {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 30px;
    right: 30px;
  }
}

