.box {
  font-size: 0.875rem;
  padding: 0 10px 30px;

  h3 {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
}

.invitation {
  display: flex;
  align-items: center;
  margin-right: -20px;
  span {
    display: inline-block;
    width: 100%;
    flex-grow: 1;
  }
  a {
    &:first-of-type {
      color: green;
    }
    &:last-of-type {
      color: red;
    }
  }
}
