@import (reference) "../../styles/fonts";

.feed {
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px 20px 0;
  //overflow: hidden;
  margin-bottom: 30px;
  position: relative;

  transform: scale(0.7);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    padding: 30px 20px;
    border-bottom: 1px solid #edeff1;
  }

  &__time {
    color: #b4bbc4;
    font-size: 1rem;
    line-height: 1;
  }

  &__description {
    line-height: 1.2;
    font-size: 20px;
    hyphens: auto;
    white-space: pre-wrap;
    word-break: break-word;
  }

  &__image {
    display: block;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 4px;
      margin: 0 auto;
    }
  }

  &__emotion {
    position: absolute;
    right: 16px;
    bottom: -20px;
    z-index: 1;
    width: 64px;
    height: 64px;
    img {
      width: auto;
      height: 100%;
    }
  }

  &__socials {
    font-size: 1rem;
    color: #b4bbc4;
    padding: 30px 20px;
    a {
      color: inherit;
      margin-right: 30px;
    }
  }

  &__liked {
    font-weight: bold;
    color: #E25564 !important;
  }

  &--bigDescription .feed__description {
    font-size: 2.5rem;
    font-weight: 800;
  }

  &--hasDescription.feed--hasImage {
    .feed__description  {
      margin-bottom: 20px;
    }
  }

  &--visible {
    transition-delay: 10ms;
    transform: scale(1);
    opacity: 1;
  }

  &__commentInput {
    .input();
    width: 100%;
    border: 0 none;
    resize: none;
    outline: 0 none;
    padding: 20px 50px 20px 15px;
    border-top: 1px solid #edeff1;
  }

  &__list {
    border-top: 1px solid #edeff1;
    padding: 0 15px;
    transition: padding 300ms;
    li {
      font-size: 0.975rem;
      padding-bottom: 20px;
      &:last-of-type {
        padding: 0;
      }

      > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
      span {
        font-weight: bold;
      }
      p {
        display: block;
        color: #656565;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
      time {
        font-size: inherit;
      }
    }
  }

  &__comments {
    //height: 0;
    height: 0;
    opacity: 0;
    transition: height 500ms, opacity 400ms;
    overflow: hidden;
    &--visible {
      height: auto;
      opacity: 1;
      .feed__list {
        padding: 20px 15px;
      }

    }
  }
}

.author {
  &__avatar {
    width: 34px;
    height: 34px;
    border-radius: 4px;
    margin-right: 15px;

  }

  &__name {
    font-size: 1rem;
    line-height: 1;
  }

  &__avatar, &__name {
    vertical-align: middle;
  }
}
