@import (reference) "../../styles/fonts";

.newFeed {
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;

  &__input {
    padding: 20px 10px 30px;
    background: red;
    resize: none;
    border: 0 none;
    outline: 0 none;
    background: none;
    width: 100%;
    .input();
    font-size: 1.42rem;
    border-bottom: 1px solid #edeff1;
    line-height: 1.2;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.icon {
  svg {
    width: 20px;
    height: 20px;
    fill: #b4bbc4;
  }
}

.preview {
  width: 128px;
  height: 128px;
  background: #edeff1 center center no-repeat;
  background-size: contain;
}

.empty {
  text-align: center;
  padding: 30px;
  h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}
