@import (reference) "../../styles/fonts";
@import (reference) "../../styles/responsive";

.friend {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  color: inherit;
  border-radius: 4px;

  &:hover {
    background: #ffffff;
  }

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 10px;
  }

  span {
    flex-grow: 1;
    text-align: right;
  }

  .for-wide-desktop({
    img {
      margin-left: 7px;
    }
    span {
      display: none;
    }
  })
}

.chats {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1600px;
  padding: 0 50px;
  display: flex;
  height: 44px;
  justify-content: flex-end;
}

.chat {
  margin-left: 20px;
  position: relative;
  top: -320px;
  border-radius: 4px 4px 0 0;
  background: #fff;
  height: 364px;
  max-width: 300px;
  width: 100%;
  border: 2px solid #edeff1;
  box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.5);
  transition: top 300ms;

  &__label {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 15px;
    cursor: pointer;
    color: inherit !important;
    img {
      float: right;
      margin: -5px;
      width: 37px;
    }
  }

  &__input {
    padding: 10px;
    display: block;
    width: 100%;
    .input();
    resize: none;
    border: 0 none;
    height: 60px;
    outline: 0 none;
    line-height: 1.2;
  }

  &__content {
    height: 320px;
    background: #f2f4f6;
  }

  &--active {
    top: -0px;
  }
}

.scrollbars {
  height: 260px !important;
}

.messages {
  height: 260px;
  width: 100%;
  overflow-x: auto;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__scroll {
    padding-top: 7px;
  }
  &__list {
    padding-top: 7px;
    padding-right: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
  }
}

.message {
  font-size: 0.95rem;
  display: block;
  margin-bottom: 3px;
  width: 100%;

  span {
    background: #fff;
    padding: 7px 8px;
    border-radius: 4px;
    display: inline-block;
    width: auto;
    max-width: 80%;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  &--sender {
    text-align: right;
    span {
      background: #F4CB55;
    }
  }

  &:last-of-type {
    margin-bottom: 10px;
  }

}
