@import (reference) '../../styles/fonts.less';

.children {
  pointer-events: none;
}

.button {
  display: inline-block;
  //background: @active;
  .button();
  padding: 12px;
  max-height: 3rem;
  text-align: center;
  white-space: nowrap;
  //transition: background-color 300ms;
  margin: 0 5px;

  &--a { }
  &--link { }
  &--function { }

  &--button {
    border: 0 none;
    cursor: pointer;
    &:focus {
      outline: 0 none;
    }
  }

  &--no-margin {
    margin: 0;
  }

  &--style {
    &-yellow {
      background: general('background');
      border-radius: 4px;
      font-size: 1.25rem;
    }
    &-nav {
      background: #fff;
      border-radius: 4px;
      font-size: 1rem;
      width: 100%;
      text-align: left;
    }
  }

  &--center {
    padding: 0 12px;
    display: inline-table;
    vertical-align: bottom;
    height: 3rem;

    .children {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &--disabled {
    pointer-events: none;
  }

  &:active {
    transition: background-color 0ms;
  }
}
