@import (reference) "../../styles/fonts";
@import (reference) "../../styles/global";

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.3rem;
  //padding: 0;
  //color: red;
  display: none;
  transform: translate(-50%, -50%);
}

.profile {
  background: #fff;
  padding: 15px;
  //margin-bottom: 80px;
  position: relative;
  border-radius: 4px;
  width: ~"calc(50% - 30px)";
  margin: 15px;
  display: flex;
  align-items: flex-start;
  transform: scale(0);
  transition: transform 300ms, width 300ms, margin 300ms, padding 300ms;

  &--visible {
    transform: scale(1);
  }

  &--removed {
    transform: scale(0);
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -1;
    width: 0;
    height: 130px;
  }

  h3 {
    .profileName();
    margin-bottom: 10px;
    .truncate();
  }

  &__avatar {
    flex-shrink: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    &--editable {
      cursor: pointer;
    }
  }

  &__mouth {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 30px;
    right: 30px;
  }

  &__content {
    height: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0;
    overflow: hidden;
    p {
      font-size: 0.875rem;
      color: #656565;
    }
    span {
      color: #000;
    }
  }

  &:hover {
    background: #edeff1;
    opacity: 0.9;
    .profile {
      &__content, &__avatar {
        opacity: 0.5;
        pointer-events: none;
      }
    }
    .button {
      display: block;
    }
  }

  &__emotion {
    position: absolute;
    right: 10px;
    bottom: -20px;
   img {
     width: 45px;
   }
  }

}

