@import (reference) "../../styles/fonts.less";

@keyframes floatMouth {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatShadow {
  0% {
    opacity: 1;
    width: 100%;
  }
  50% {
    opacity: 0.7;
    width: 70%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

.loading {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  /*left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;*/
  background: general('background');
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;

  > h1 {
    .header();
  }

  &__box {
    position: relative;
    transform: scale(0);
    transition: transform 300ms;

    img {
      width: 150px;
      height: auto;
      transform: translateY(0px);
      animation: floatMouth 5s ease-in-out infinite;
    }

    &:before {
      display: inline-block;
      content: "";
      width: 100%;
      height: 15px;
      background: rgba(0,0,0,0.8);
      filter: blur(10px);
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      opacity: 1;
      animation: floatShadow 5s ease-in-out infinite;
    }
  }


  &--visible {
    opacity: 1;
    pointer-events: all;
    .loading__box {
      transform: scale(1);
    }
  }
}
