@import (reference) "../../styles/fonts";
@import (reference) "../../styles/responsive";

.login {
  color: loginPage('text');
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1080px;
  height: 100%;
  max-height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  &__header {
    h1 {
      .header(loginPage('text'));
    }
    p {
      font-size: 1.25rem;
    }
    padding-bottom: 3rem;
  }

  &__mouths {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    img {
      width: 20%;
      max-width: 180px;
      padding: 0 30px;
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }

    .for-tablet({
      margin-bottom: 4rem;
      margin-top: -3rem;
      padding: 0 10px;
      img {
        padding: 0 5px;
      }
    })
  }

  &__form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;

    .for-tablet({
      flex-direction: column;
      padding: 0 10px;
      > div {
        margin-bottom: 20px;
      }
    })
  }

  &__error {
    height: 0;
    flex: 0 0 0;
    margin: -48px;
    transform: scale(0);
    transition: transform 300ms, height 300ms;
    &--visible {
      transform: scale(1);
      height: 48px;
    }
  }
}

.input {
  margin: 0 10px;
}

.button {
  margin-left: 10px;
  padding: 0 10px;
  height: 79px;
  background: none;
  border: 0 none;
  color: loginPage('text');
  font-weight: 600;
  font-size: 1.25rem;
}
