@import (reference) "../../styles/fonts";
@import (reference) "../../styles/responsive";

.profiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
  .for-tablet({
    display: block;
    > div {
      width: ~"calc(100% - 30px)";
      margin-bottom: 30px;
    }
  })
}

.search {
  &__box {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__input {
    .input();
    font-size: 1.42rem;
    background: transparent;
    input {
      padding: 10px;
      &::placeholder {
        color: #656565;
      }
    }
  }
}

.empty {
  text-align: center;
  padding: 30px;
  h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}
