@import (reference) "../../styles/responsive";

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  max-width: 1600px;
  margin: 0 auto;
  transition: padding 300ms;

  .for-desktop({
    padding: 20px;
  });

  .for-tablet({
    flex-direction: column;
    align-items: center;
  });
}

.sidebar {
  width: 40%;
  max-width: 230px;
  transition: width 300ms, margin 300ms;
  overflow: hidden;
  position: relative;

  .for-wide-desktop({
    &__right {
      width: 64px;
    }
  });

  .for-desktop({
    &__right {
      width: 0;
      margin-right: -50px;
    }
  });

  .for-tablet({
    width: 100%;
    &__left {
      padding-bottom: 80px;
    }
    &__right {
      display: none;
    }
  });
}

.content {
  width: 60%;
  padding: 0 50px;
  min-width: 640px;
  flex-grow: 1;

  .for-desktop({
    min-width: initial;
    padding-left: 20px;
  });

  .for-tablet({
    width: 100%;
    padding: 0;
  });
}

.fixed {
  position: fixed;
  .for-tablet({
    position: relative;
    width: 100% !important;
  });
  /*width: 100%;
  top: 0;
  left: 0;*/
  //will-change: top;

  //transition: top 100ms;
}
