@import (reference) '../../styles/fonts.less';

.input {
  display: inline-block;
  position: relative;
  background: inputComponent('background');
  border-radius: inputComponent('borderRadius');
  color: inputComponent('text');
  width: 100%;

  > input {
    display: inline-block;
    width: 100%;
    padding: inputComponent('padding');
    background: transparent;
    border: 0 none;
    outline: 0 none;
    .input(inherit);
    .truncate();
    transition: padding 300ms;
    font-weight: 600;
    &:-webkit-autofill {
      &, &:hover, &:focus {
        color: #fff !important;
        transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
        background: transparent !important;
      }
    }
    &::placeholder {
      font-weight: 400;
      color: #fff;
    }
  }

  &--disabled {
    background: inputComponent('disabled');
  }

  &--invalid {
    border-color: red !important;
    > input {
      padding-left: 32px;
    }
  }
}
